<p><strong> Name: </strong>
  <%= @user.name %>
</p>


<p><strong> Address: </strong>
  <%= @user.address %>
</p>


<div class="map_container">
  <div id="map" class="map"></div>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script>
    var handler = Gmaps.build('Google');
    handler.buildMap({internal: {id: 'map'}}, function () {

        var circles = handler.addCircles(
                [{lat: <%= @user.latitude %>, lng: <%= @user.longitude %>, radius: 20000}],
                {strokeColor: '#FF0000', strokeOpacity: 0.7, strokeWeight: 1, fillColor: '#FF0000', fillOpacity: 0.15}
        );
        var markers = handler.addMarkers(<%=raw @hash.to_json %>);

        handler.bounds.extendWith(markers);
        handler.bounds.extendWith(circles);
        handler.fitMapToBounds();

    });
    handler.map.centerOn({lat: <%= @user.latitude %>, lng: <%= @user.longitude %>});

</script>
